*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    font-weight: 600 !important;
    border: 2px solid #ffc107 !important;
    border-radius: 8px !important;
}

button:hover{
    background: transparent !important;
    color: #ffc107 !important;
    transition: all .4s ease-out 0s;
}

h2{
    line-height: 3rem !important;
}

/* nav */
nav{
    background-color: rgb(51, 51, 51, .4);
}

.nav-link{
    font-size: .9375rem;
    font-weight: 700;
    text-transform: capitalize;
    color: whitesmoke !important;
    letter-spacing: 1px;
    padding: 1rem 1rem !important;
}

.nav-link:hover{
    color: #ffc107 !important;
}
/* nav end */

/* first section & 3rd section something */
.first-section{
    background: url(images/bg/bg-1.jpg) no-repeat center; 
    background-size: cover; 
    height: 100vh;
}

.first-section h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 0 6px black;
}

.first-section, .third-section p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}
/* first section end */

/* second section */
.second-section h2{
    font-weight: 700;
    font-size: 2rem;
}

.second-section a{
    font-size: .8125rem;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.second-section .menu-item:hover a{
    color: #ffc107;
}

.second-section .menu-img-design{
    position: relative;
    display: block;
    z-index: 1;
}

.second-section .menu-img-design::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted green;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) scale(0);
    background: #ffc107;
    transition: all .4s ease;
}

.second-section .menu-img-design:hover::before{
    transform: translateX(-50%) translateY(-50%) scale(1);
}
/* second section end */

/* third section */
.third-section p{
    color: #b0b0b0 !important;
}

.third-section li{
    font-size: 1rem;
    color: #b0b0b0;
    line-height: 32px;
    position: relative;
    margin-left: 30px;
}

.third-section li::before{
    position: absolute;
    left: -2.1875rem;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}
/* third section end */