*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    font-weight: 600 !important;
    border: 2px solid #ffc107 !important;
    border-radius: 8px !important;
}

button:hover{
    background: transparent !important;
    color: #ffc107 !important;
    transition: all .4s ease-out 0s;
}

h2{
    line-height: 3rem !important;
}

.rounder{
    border-radius: 20px;
}

.rounder-img{
    border-radius: 20px 20px 0 0;
}

/* nav */
nav{
    background-color: rgb(51, 51, 51, .4);
}

.nav-link{
    font-size: .9375rem;
    font-weight: 700;
    text-transform: capitalize;
    color: whitesmoke !important;
    letter-spacing: 1px;
    padding: 1rem 1rem !important;
}

.nav-link:hover{
    color: #ffc107 !important;
}
/* nav end */

/* first section & 3rd, 4th section something */
.first-section{
    background: url(images/bg/bg-1.jpg) no-repeat center; 
    background-size: cover; 
    height: 100vh;
}

.first-section h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 0 6px black;
}

.first-section p, .third-section p, .fourth-section p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}
/* first section end */

/* second section & 4th section something */
.second-section h2, .fourth-section h2{
    font-weight: 700;
    font-size: 2rem;
}

.second-section a{
    font-size: .8125rem;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.second-section .menu-item:hover a{
    color: #ffc107;
}

.second-section .menu-img-design{
    position: relative;
    display: block;
    z-index: 1;
}

.second-section .menu-img-design::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted green;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) scale(0);
    background: #ffc107;
    transition: all .4s ease;
}

.second-section .menu-item:hover .menu-img-design::before{
    transform: translateX(-50%) translateY(-50%) scale(1);
}
/* second section end */

/* third section & 4th section something */
.third-section p, .fourth-section p{
    color: #b0b0b0 !important;
}

.third-section li{
    font-size: 1rem;
    color: #b0b0b0;
    line-height: 32px;
    position: relative;
    margin-left: 30px;
}

.third-section li::before{
    position: absolute;
    left: -2.1875rem;
    color: #ffc107;
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}
/* third section end */

/* fourth section */
.cards p{
    font-size: 14px;
    line-height: 22px;
}

.cards h5{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
}
/* fourth section end */

/* testimonial section */
.wrapper{
    padding-top: 3.25rem;
    padding-bottom: 4.25rem;
}

.testimonial-section{
    background: #00a149;
    font-family: var(--poppins);
}

.testimonial-section h2{
    color: white;
}

.testimonial-section .carousel-item{
    padding: 10rem 3.125rem;
    border-radius: .9375rem;
    text-align: center;
}

.testimonial-section .carousel-caption{
    height: 280px;
}

.testimonial-section .carousel-caption img{
    max-width: 5rem;
}

.testimonial-section .carousel-caption p{
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-weight: 300;
    color: white;
    padding: 0 11% .625rem;
}

.testimonial-section .carousel-indicators button{
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 50%;
    border: none !important;
    opacity: .3;
}

.testimonial-section .carousel-indicators button:hover{
    background: white !important;
}

.testimonial-section .carousel-indicators button.active{
    opacity: 1;
}

.testimonial-section .carousel-indicators{
    bottom: -2.8125rem;
}
/* testimonial section end */

/* footer */
.footer{
    background: black;
}

.footer .footer-link{
    font-size: 1rem;
    color: black;
    padding: 0 1.875rem;
}

.footer .footer-link:hover{
    color: white;
}

.footer .footer-social a i{
    font-size: 1.5rem;
    color: white;
    padding: 0 1rem;
}

.footer .footer-social a:hover i{
    color: #ffc107;
}

.newsletter .form-control{
    height: 3.225rem;
    padding: 0 1.25rem;
    font-size: .875rem;
    width: 100%;
    border-radius: 0;
    background: transparent;
    border: .1875rem solid white;
    color: black;
    font-weight: 700;
}

.newsletter .footer-button{
    height: 3.225rem;
    padding: 0 1.25rem;
    font-size: .875rem;
    border-radius: 0 !important;
    background-color: white;
    border: .1875rem solid white !important;
    color: black;
    font-weight: 700;
}

.newsletter:hover .form-control{
    border: .1875rem solid #ffc107;
    color: white;
}

.newsletter:hover .footer-button{
    background: #ffc107;
    border: .1875rem solid #ffc107 !important;
}

.newsletter .form-control:hover, .newsletter .form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: #ffc107;
}
/* footer end*/