*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    font-weight: 700;
    border: 2px solid #ffc107 !important;
}

button:hover{
    background: transparent !important;
    color: #ffc107 !important;
    transition: all .4s ease-out 0s;
}

/* nav */
nav{
    background-color: rgb(51, 51, 51, .4);
}

.nav-link{
    font-size: .9375rem;
    font-weight: 700;
    text-transform: capitalize;
    color: whitesmoke !important;
    letter-spacing: 1px;
    padding: 1rem 1rem !important;
}

.nav-link:hover{
    color: #ffc107 !important;
}
/* nav end */

/* first section */
.first-section{
    background: url(images/bg/bg-1.jpg) no-repeat center; 
    background-size: cover; 
    height: 100vh;
}

.first-section h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 0 6px black;
}

.first-section p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}